html {
  font-family: sans-serif;
  color: #1c1c1c;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
}

nav {
  padding: 20px 0;
}

nav ul {
  width: 100%;
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  box-sizing: border-box;
}

nav ul a:link,
nav ul a:visited {
  color: #1c1c1c;
  text-decoration: none;
}

nav ul li,
nav ul .links li:not(last-child) {
  margin-bottom: 15px;
}

.trial {
  border: solid 2px #1e90ff;
  border-radius: 5px;
  padding: 7px;
}

.trial:link,
.trial:visited,
#logo a:link,
#logo a:visited {
  color: #1e90ff;
}

#logo {
  font-size: 1.3em;
}

#hero {
  background: url("img/hero.jpg"); /* Background image from Unsplash from Yoal Desurmont https://unsplash.com/@yoal_des*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  color: white;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

#headline {
  text-align: center;
  margin-bottom: 50px;
}

#headline h1 {
  font-size: 1.6em;
  font-weight: bold;
}

#headline p {
  font-style: italic;
  font-size: 1.05em;
}

#sign-up {
  width: 100%;
  margin: 0 auto;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

#sign-up h2 {
  font-size: 1.15em;
  text-align: center;
}

#sign-up h2 {
  font-weight: normal;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
}

form input {
  margin-bottom: 5px;
  border: solid 3px lightgray;
  border-radius: 5px;
  padding: 10px;
}

form input:focus {
  border: solid 3px darkgray;
  outline: none;
}

.news {
  margin: 15px 0;
}

#sign-up button {
  width: 100%;
  border: none;
  background-color: #1e90ff;
  color: white;
  padding: 5px 0;
  font-weight: bold;
  font-size: 0.9em;
  border-radius: 5px;
  margin-top: 10px;
}

#sign-up button img {
  width: 4%;
}

#stats {
  margin-top: 50px;
}

#stats ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#stats {
  font-size: 1.2em;
}

#stats ul span {
  font-size: 2em;
}

/*Media Queries*/
@media screen and (min-width: 704px) {
  nav ul {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

  nav ul .links {
    display: flex;
  }

  nav ul .links li {
    padding-right: 50px;
  }

  nav ul:first-child {
    padding-left: 0;
    margin-left: 0;
  }

  nav ul .links li:last-child {
    padding-right: 0;
    margin-right: 0;
  }

  nav ul li,
  nav ul .links li:not(last-child) {
    margin-bottom: 0;
  }
}
